/*General styles*/
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #F6F1F1;
}

/*Headers styles*/
nav {
    padding: 16px;
    margin-bottom: 48px;
    background-color: #112D4E;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin: 0;
    color: #F6F1F1;

}

/*footer styles*/
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 64px;
    width: 100%;
    background-color: #112D4E;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F6F1F1;
}

/*Main content*/
main {
    width: 90%;
    max-width: 1200px;
    margin: 16px auto;
    border-radius: 16px;
    padding: 16px;
    background-color: #DBE2EF;
    color: rgba(39, 79, 127, 0.9);
    text-align: center;
}

h2{
    margin: 16px;
    margin-bottom: 32px;
    color: rgba(39, 79, 127, 0.9);
    font-family: 'Open Sans', sans-serif;
}

.rowElement{
    width: 50%;
    margin: 8px auto;
    /*border: 1px solid black;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
}

.rowElement input, .rowElement select{
    max-width: 180px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

/*Grid Table*/
#gridTable{
    width: 50%;
    margin: 24px auto;
    border: 1px solid rgba(0,0,0,.1);
    background-color: rgba(229, 233, 241, 0.9);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 10px 10px 15px -7px rgba(0,0,0,0.5);
}

#gridTable > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.headers{
    padding: 10px;
    background-color: rgba(39, 79, 127, 0.9);
    color: white;
    margin-bottom: 16px;
}

#gridTable > div:not(.headers){
    margin: 8px auto;
}

#gridTable .disp2,
#gridTable .disp5,
#gridTable .disp7{
    display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]{
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 75%;
}

button{
    border-radius: 16px;
    width: 130px;
    border: #112D4E solid 1px;
    padding: 8px;
    background-color: white;
    color: #112D4E;
    transition: .2s;
    cursor: pointer;
}

button:hover{
    background-color: #DBE2EF;
    transform: translate(-1px,-1px);
}

@media only screen and (max-width: 700px) {
    .rowElement, #gridTable {
        width: 90%;
    }
}